/* Whole page */

body {
    background-color: #f5f5f5;
}


/* Normal Card */

.card {
    width: 18rem;
    margin: 30px auto;
}


/* Card Image */

.card-img-top {
    height: 180px;
    object-fit: cover;
}


/* Carousel */

#carouselExample {
    width: 600px;
    margin: 30px auto;
}


/* Carousel Images */

.carousel-item img {
    height: 300px;
    object-fit: cover;
}